body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

.Conditions
{
  background:yellow;
  position: absolute;
  top: 12.5%;
  right: 0px;
  width: 20%;
  height: 75%;
  border: 10px;
}

.Conditions textarea {
    display: block;
    width: 100%;
    Height: 100%;
    border: 0;
}


.GameElementDiv
{
  position: relative;
}